.details-page {
  display: flex;
  gap: 40px;
  padding: 30px;
}

.details-page .image {
  width: 250px;
  height: 300px;
}

.error {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #4285f4;
}
