.list-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1450px) {
  .list-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 1160px) {
  .list-container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 800px) {
  .list-container {
    grid-template-columns: auto auto;
  }
}

.movie-card {
  width: 260px;
  height: 400px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 5px 0px,
    rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.movie-card img {
  width: 100%;
  height: 70%;
}

.details-section {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  font-size: 14px;
}

.not-found {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #4285f4;
}
